<!DOCTYPE html>
<html>
<head>
  <title id="title">E-student</title>

  <meta charset="utf-8" >
  <meta name="Author" content="Tomaz Tomazic" >
  <meta name="keywords" content="student, izpit, indeks, ocene, referat" >

  <%= stylesheet_link_tag "style", :media => "all" %>


  <%= javascript_include_tag "jquery-1.8.3.min" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "translate" %>
  <%= javascript_include_tag "IEfix" %>
  <%= javascript_include_tag "validatelogin" %>

  <%= csrf_meta_tags %>
</head>
<body>


<header>
  <div>
    <span id="fax1">Fakulteta za raziskovanje rude</span>
    <br />
    <span id="fax2">in zapravljanje časa</span>
  </div>
  <img src="<%=asset_path "ul.png" %>" alt="logo" />
</header>
<div id="main">
  <div id="leftdiv">
    <div id="userdata">
      <div>
        <%= @user.name %> <br /> <%= @user.surname %>
        <small><%= @user.mail %></small>
      </div>
      <div class="imagewithcaption">
        <img src="<%=asset_path @user.ids  %>.png" alt="userimage" id="userimage"/>
        <div class="caption">
          <p id="imagecaption1">Status: Admin</p>
        </div>
      </div>
      <time datetime="<%= Time.now.day %>-<%=  Time.now.month%>-<%= Time.now.year %>"><%= Time.now.day %>-<%=  Time.now.month%>-<%= Time.now.year %></time>
    </div>
    <nav>
      <%= render "/admin/menuadmin.html"  %>
    </nav>
  </div>

  <div id="content">
    <%= yield %>
  </div>
</div>

<footer >
  <span id="footer">©2012-2013 FRZC. Vse pravice pridržane</span>
  <p><a id="slo">Slo </a> <a id="eng">Eng </a></p>
</footer>
</body>
</html>



